
:root{
	--board-size-l: 500px;
	--board-size-m: 400px;
	--board-size-s: 300px;

	--bgColor: hsl(220, 25%, 50%);
}

body{
	font-family: arial;
	font-size: 14px;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.wraper{
	display: flex;
	flex-wrap: wrap;
	flex-flow: column; 
	
	height: 100vh;
	background: var(--bgColor);
}

.game-tite{
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	font-size: 3em;
	color: #fff;
	margin-top: 100px;
	margin-bottom: 50px;
}

.table-3-r{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 50px;
}


/*---------------------------- Configuration control ----------------------------*/


.config-controls, .score-table{
	text-align: center;
}

.config-controls {
	display: flex;
	flex-direction: column;
	gap: 10px;

}

.config-controls > button{
	background: none;
	color: #fff;
	padding: 10px;
	width: 80%;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 900;
	border: solid 4px #fff;
	cursor: pointer;
	transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.config-controls > button:hover, .active-btn{
	color: #28e !important;
	background: #fff !important;
}
.config-controls > button:active{
	transform: scale(0.9);
}

#reset-btn{
	color: #000;
	border: solid 4px #000;
}
#reset-btn:hover{
	background-color: #ccc;
}


/*---------------------------- Gameboard ----------------------------*/


.board{
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	
	gap: 2px; 
	
	height: var(--board-size-m);
	width: var(--board-size-m);

	font-size: 4em;
	font-weight: 600;
	
	background: radial-gradient(#fff6, transparent 80%);

	z-index: 1;
	overflow: hidden;
}

.fade-dot{
	position: absolute;

	width: 300px;
	height: 300px;
	
	z-index: 2;
	border-radius: 50%;

	pointer-events: none;

	transition: background 0.6s ease;

}


.board > .box{
	position: relative;
	display: grid; 
	place-items: center;

	/* font-size: 4em;
	font-weight: 600; */

	background: var(--bgColor);
	cursor: pointer;
	z-index: 3;
	transition: background 0.3s ease;
}

.defaultSpan{
	opacity: 0;
	pointer-events: none;
}

.sected{
	pointer-events: none
}

.Oicon, #score-wins{
	color: #2e2;
}

.Xicon, #score-loses{
	color: #e22;
}

/*---------------------------- Score table ----------------------------*/

.score-table{
	color: #fff;
	font-size: 1.5em;
}
.score-table > .score-title{
	margin-bottom: 40px;
}

.score-table > p{
	text-align: start;
	font-size: 1.2em;
	padding-left: 100px;
}

#score-wins,
#score-loses,
#score-draws{
	font-weight: 900;
}

#score-draws{
	color: #ccc;
}

.appear-animation{
	animation-name: beat;
	animation-duration: 0.6s;

}


/*---------------------------- Modal ----------------------------*/

.modal{
	
	position: absolute;
	
	display: none;

	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
	
	background: #0001;

	z-index: 100;
}

.fade-in{
	display: flex;

	animation-name: beat;
	animation-duration: 2s;
}

.modal-msg{
	text-align: center;
	color: #fff;
	font-size: 1em;
	
}


/* ---------------------------- RESPONSIVE ZONE ----------------------------*/

@media screen and (width < 930px) {

	.wraper{
		height: 100%;
	}
	
	.table-3-r{
		grid-template-columns: 1fr;	
	}
	.config-controls{
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 50px;
	}
	.config-controls > button{
		font-size: 1em;
		/* width: auto; */
		border-width: 2px !important;
	}

	.game-tite{
		margin-top: 20px;
	}
	
	.board{
		height: var(--board-size-m);
		width: 95%;
		margin: auto;
		margin-bottom: 50px;

		font-size: 3em;
		font-weight: 900;
	}
	
	.modal-msg{
		font-size: 1em;
	}

	.score-table{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		/* background: #ccc; */
		margin-bottom: 20px;
	}

	.score-title{
		grid-column: 1 / 4;
		margin-bottom: 20px !important;
	}

	.score-table p {
		padding-left: 0;
		text-align: center;
		font-size: 0.6em;
	}

	
}



/*---------------------------- ANIMATIONS ZONE ----------------------------*/


@keyframes beat {
	from{
		transform: scale(1.2);
	}
	to{
		transform: scale(1);
	}
}

@keyframes fade-in {
	0%{
		display: flex;
		opacity: 1;
	}

	100%{
		display: none;
		opacity: 1;
	}
}

@keyframes rainbow-bg {
	0%{
		background: rgba(238, 34, 34, 0.6);
	}
	28%{
		background: rgba(238, 85, 34, 0.6);
	}
	42%{
		background: rgba(251, 255, 0, 0.6);
	}
	56%{
		background: rgba(34, 238, 34, 0.6);
	}
	70%{
		background: rgba(0, 255, 251, 0.6);
	}
	84%{
		background: rgba(34, 136, 238, 0.6);
	}
	100%{
		background: rgba(238, 34, 177, 0.6);
	}
}
