
:root{
	--board-size-l: 500px;
	--board-size-m: 400px;
	--board-size-s: 300px;

	--bgColor: hsl(220, 25%, 50%);
}

body{
	font-family: arial;
	font-size: 14px;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.wraper{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	
	height: 100vh;
	background: var(--bgColor);
}
.board{
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: 2px; 

	height: var(--board-size-m);
	width: var(--board-size-m);
	

	background: radial-gradient(#fff6, transparent 80%);

	z-index: 1;
	overflow: hidden;
}
.fade-dot{
	position: absolute;
	top: 0;
	left: 0;

	width: 300px;
	height: 300px;
	
	z-index: 2;
	border-radius: 50%;
	background: radial-gradient(#fff9, transparent);
}


.board > .sqr{
	position: relative;
	display: grid; 
	place-items: center;

	
	color: #fff;
	font-size: 4em;
	font-weight: 600;

	background: var(--bgColor);
	cursor: pointer;
	z-index: 3;
	transition: background 0.3s ease;
}
/* .board > .sqr:hover{
	background: radial-gradient(#fff4, transparent 20%);
} */

.defaultSpan{
	opacity: 0;
	pointer-events: none;
}

.sectedSqr{
	pointer-events: none
}


.userSelection > span{
	color: #2e2;
}
.pcSelection > span{
	color: #e22;
}